
# Created by .gitignore support plugin (alan.yan)
*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
.externalToolBuilders/
.settings/
.classpath
.project
.springBeans
.tern-project
.metadata/
.idea/
.mine/
logs/
dev.properties
dubbo.properties
dev-admin.properties
dependency-reduced-pom.xml
*.rdb
*.log
*.gz
*apidocs/
*.versionsBackup
flyway.properties
_book/
**/rebel.xml

application.yml
!application-*.yml
application.properties
application-*.properties
!*/src/test/resources/application.yml
!*/src/test/resources/application-*.yml
!*/src/test/resources/application.properties
!*/src/test/resources/application-*.properties
*.bak
