/*  
 * Copyright 2010-2019 Tocean Group.  
 * 版权：商业代码，未经许可，禁止任何形式拷贝、传播及使用
 * （本公司提供源代码只允许甲方作为系统维护、升级之用，未经我司授权，不得用作开发其他系统） 
 * 文件名：${className}Dao.java
 * 描述：  
 * 修改人： ${author}
 * 修改时间：${datetime}
 * 跟踪单号：  
 * 修改单号：  
 * 修改内容：  
 */
package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className}Entity;
import com.toceansoft.framework.dao.BaseDao;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}Entity> {
	
}
